@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100);
@charset "UTF-8";
@media (min-width: 400px) {
  .Header {
    /* topMenu의 ID를 가진 태그의 스타일 지정 */
    position: fixed;
    width: 95vw;
    z-index: 1; }
    .Header ul {
      display: inline-block;
      padding: 0;
      margin: 0; }
      .Header ul li {
        /* topMenu의 ID를 가진 태그 안에 <ul> 태그 안에 <li> 태그의 스타일을 지정 */
        list-style: none;
        /* <li> 태그는 위의 이미지처럼 목록을 나타내는 점을 없앤다 */
        color: white;
        /* 글씨 색을 흰색으로 설정 */
        background-color: #2d2d2d;
        /* 배경색을 진한 회색(RGB(2D,2D,2D)으로 설정 */
        float: left;
        /* <li>태그들이 왼쪽에 흐르게 설정(그러면 아래있는 내용은 오른쪽으로 옴) */
        line-height: 5vh;
        /* 글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정 */
        vertical-align: middle;
        /* 세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함) */
        text-align: center;
        /* 글씨 정렬을 가운데로 설정 */ }
    .Header .menuLink {
      /* topMenu 아이디를 가진 태그 안에 있는 menuLink 클래스 태그들의 스타일 설정 */
      text-decoration: none;
      /* 링크(<a> 태그)가 가지는 기본 꾸밈 효과(밑줄 등)을 없앰 */
      color: white;
      /* 폰트색을 흰색으로 설정 */
      display: block;
      /* 링크를 글씨가 있는 부분 뿐만아니라 전체 영역을 클릭해도 링크가 걸리게 설정 */
      width: 18vh;
      /* 메뉴링크의 넓이 설정 */
      font-size: 2.5vh;
      /* 폰트 사이즈 12px로 설정 */
      font-weight: bold;
      /* 폰트를 굵게 */
      font-family: "Trebuchet MS", Dotum, Arial;
      /* 기본 폰트 적용, 시스템 폰트를 종류별로 순서대로 */ }
      .Header .menuLink:hover {
        /* topMenu 아이디를 가진 태그 안에 menuLink클래스를 가진 태그에 마우스가 over되면 스타일 설정 */
        color: lightskyblue;
        /* 글씨 색을 붉은색으로 설정 */
        background-color: #4d4d4d;
        /* 배경색을 조금 더 밝은 회색으로 설정 */ }
  .nav-sm {
    display: none; }
  .nav-lg {
    display: block;
    width: 90vw;
    height: 7vh;
    margin-left: auto;
    margin-right: auto;
    text-align: right; }
    .nav-lg ul {
      display: inline-block;
      padding: 0;
      margin: 0; }
      .nav-lg ul li {
        /* topMenu의 ID를 가진 태그 안에 <ul> 태그 안에 <li> 태그의 스타일을 지정 */
        list-style: none;
        /* <li> 태그는 위의 이미지처럼 목록을 나타내는 점을 없앤다 */
        color: white;
        /* 글씨 색을 흰색으로 설정 */
        background-color: rgba(45, 45, 45, 0.7);
        float: left;
        /* <li>태그들이 왼쪽에 흐르게 설정(그러면 아래있는 내용은 오른쪽으로 옴) */
        line-height: 5vh;
        /* 글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정 */
        vertical-align: middle;
        /* 세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함) */
        text-align: center;
        /* 글씨 정렬을 가운데로 설정 */ }
        .nav-lg ul li:first-child, .nav-lg ul li:first-child > a {
          border-radius: 0% 0% 0% 15%/50%; }
        .nav-lg ul li:last-child, .nav-lg ul li:last-child > a {
          border-radius: 0% 0% 15%/50% 0%; }
  .nav-lg a {
    /* menu-link 클래스 태그들의 스타일 설정 */
    text-decoration: none;
    /* 링크(<a> 태그)가 가지는 기본 꾸밈 효과(밑줄 등)을 없앰 */
    color: lightgrey;
    /* 폰트색을 흰색으로 설정 */
    display: block;
    /* 링크를 글씨가 있는 부분 뿐만아니라 전체 영역을 클릭해도 링크가 걸리게 설정 */
    width: 10vw;
    /* 메뉴링크의 넓이 설정 */
    font-size: 2.5vh;
    /* 폰트 사이즈 12px로 설정 */
    font-weight: bold;
    /* 폰트를 굵게 */ }
    .nav-lg a:hover, .nav-lg a .active {
      background: #1ABC9C; }
  .nav-sm:active {
    background: #1ABC9C; } }

@media (max-width: 400px) {
  .Header {
    display: none; } }

body {
  margin: 0; }

.hide {
  opacity: 0; }

.hidden {
  display: none; }

.Home {
  height: 100%; }

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/images/home.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .Main h1 {
    font-size: 4vw;
    font-family: sans-serif;
    font-weight: 700;
    border-right: .1em solid #fff;
    white-space: pre;
    animation: blink 1s step-end infinite; }

.desc > h1 {
  margin: 1vh 1vw;
  font-size: 2em;
  font-weight: 900;
  text-align: right;
  font-family: sans-serif; }

.title {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  width: fit-content;
  margin: 5vh auto; }
  .title p {
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto; }
  .title:after {
    content: "";
    display: block;
    width: auto;
    border-bottom: 2px solid deepskyblue; }

.About {
  display: flex;
  height: 100%;
  /*div {
    opacity: 0;
  }*/ }
  .About .title {
    align-self: center;
    margin: 0 15vw 0 7vw; }
  .About .desc {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 4rem;
    margin-top: 4rem;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%; }
    .About .desc b {
      font-family: cursive; }
  .About .desc-right p {
    margin: 1vh 1vw;
    line-height: 1.5em;
    text-align: right;
    font-size: 1em;
    font-weight: bold; }

.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background: #2d2d2d;
  text-align: center;
  padding-bottom: 5vh; }
  .Skills .title {
    color: white; }
  .Skills .desc {
    width: 90%;
    align-items: center; }
  .Skills .item {
    text-align: center;
    display: inline-block;
    width: 114px;
    height: 116px;
    border-radius: 30px 30px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2); }
  .Skills .panel {
    margin-bottom: 5vh; }
    .Skills .panel .panel-heading {
      padding: 1vh;
      background-color: rgba(255, 255, 255, 0.25);
      border-radius: 5px 5px 0 0; }
      .Skills .panel .panel-heading p {
        margin: 0;
        font-family: sans-serif;
        font-size: 1.2vw;
        font-weight: bold;
        color: white; }
    .Skills .panel .panel-body {
      padding: 2vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
      border-radius: 0 0 5px 5px;
      background-color: white; }
  .Skills .panel-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .Skills .panel-group .panel {
      width: 30%; }
  .Skills .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2d2d2d;
    opacity: 0.8;
    visibility: hidden;
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 30px; }
  .Skills .item:hover .label {
    visibility: visible;
    animation: fadeout 0.5s; }
  .Skills .item p {
    font-size: 1.5em;
    color: white;
    margin: 0; }

.Project {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 5vh; }
  .Project .desc {
    width: 90%;
    align-items: center; }
  .Project .box {
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 3vh; }
  .Project .image {
    height: 290px;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .Project .content {
    margin: 2vh 2vw 2vh 2vw;
    width: 70%; }
    .Project .content h1 {
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: bottom; }
    .Project .content h3, .Project .content h4 {
      font-weight: 400; }
    .Project .content p {
      margin-bottom: 0; }
  .Project a.del:link, .Project a.del:visited, .Project a.del:active, .Project a.del:hover {
    cursor: not-allowed;
    text-decoration: line-through;
    color: black; }

.Contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  background: #2d2d2d;
  padding-bottom: 10vh; }
  .Contact .title {
    color: white; }
  .Contact .desc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 10vh);
    justify-items: center;
    align-items: center; }
    .Contact .desc span, .Contact .desc a {
      font-size: 2em;
      color: white;
      padding-left: 5px;
      padding-right: 5px;
      font-family: 'Noto Sans KR', sans-serif; }
    .Contact .desc input {
      width: 60px;
      height: 60px; }
      .Contact .desc input:active {
        cursor: grabbing; }
    .Contact .desc p {
      font-size: 2em;
      color: white;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: bold;
      margin: 0; }
    .Contact .desc .clipboard {
      border-radius: 10px;
      background: white url("/images/clipboard.png") center no-repeat;
      background-size: contain;
      cursor: grab;
      width: 55px; }
    .Contact .desc .github {
      border-radius: 50%;
      background: white url("/images/icon-git.png") center no-repeat;
      background-size: contain;
      cursor: pointer; }
    .Contact .desc .blog {
      border-radius: 5px;
      background: white url("/images/tistory.png") center no-repeat;
      background-size: contain;
      cursor: pointer; }
  .Contact .end p {
    font-size: 6em;
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    font-weight: 900; }

@keyframes blink {
  0%, 100% {
    border-color: transparent; }
  50% {
    border-color: #fff; } }

@keyframes fadeout {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.8; } }

