@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100");

body {
  margin: 0;
}
.hide{
  opacity: 0;
}
.hidden {
  display: none;
}
.Home {
  height: 100%;
}
.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://powercode14.github.io/portfolio_react/images/home.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  h1 {
    font-size: 4vw;
    font-family: sans-serif;
    font-weight: 700;
    border-right: .1em solid #fff;
    white-space: pre;
    animation: blink 1s step-end infinite;
  }
}

.desc > h1 {
  margin: 1vh 1vw;
  font-size: 2em;
  font-weight: 900;
  text-align: right;
  font-family: sans-serif;
}

.title {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  width: fit-content;
  margin: 5vh auto;
  p {
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight : bold;
    width: fit-content;
    margin: 0 auto;
  }
  &:after {
    content: "";
    display: block;
    width: auto;
    border-bottom: 2px solid deepskyblue;
  }
}

.About {
  display: flex;
  height: 100%;
  /*div {
    opacity: 0;
  }*/
  .title {
    align-self: center;
    margin: 0 15vw 0 7vw;
  }
  .desc {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 4rem;
    margin-top: 4rem;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    b {
      font-family: cursive;
    }
  }
  .desc-right p {
    margin: 1vh 1vw;
    line-height: 1.5em;
    text-align: right;
    font-size: 1em;
    font-weight: bold;
  }
}

.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background: #2d2d2d;
  text-align: center;
  padding-bottom: 5vh;
  .title {
    color: white;
  }
  .desc {
    width: 90%;
    align-items: center;
  }
  .item {
    text-align: center;
    display: inline-block;
    width:114px;
    height:116px;
    border-radius: 30px 30px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
  }
  .panel {
    margin-bottom: 5vh;
    .panel-heading {
      padding: 1vh;
      background-color: rgba(255, 255, 255, 0.25);
      border-radius: 5px 5px 0 0;
      p {
        margin: 0;
        font-family: sans-serif;
        font-size: 1.2vw;
        font-weight: bold;
        color: white;
      }
    }
    .panel-body{
      padding: 2vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      box-shadow: 0 3px 6px rgba(0,0,0,.5);
      border-radius: 0 0 5px 5px;
      background-color: white;
    }
  }
  .panel-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .panel {
      width: 30%;
    }
  }
  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2d2d2d;
    opacity: 0.8;
    visibility: hidden;
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 30px;
  }
  .item {
    &:hover .label {
        visibility: visible;
        animation: fadeout 0.5s;
    }
    p {
      font-size: 1.5em;
      color: white;
      margin: 0;
    }
  }
}

.Project {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 5vh;

  .desc {
    width: 90%;
    align-items: center;
  }
  .box {
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 6px 2px rgba(0,0,0,.5);
    padding: 10px;
    margin-bottom: 3vh;
  }
  .image {
    height: 290px;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .content {
    margin: 2vh 2vw 2vh 2vw;
    width: 70%;
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: bottom;
    }
    h3, h4 {
      font-weight: 400;
    }
    p {
      margin-bottom: 0;
    }
  }
  a.del {
    &:link,
    &:visited,
    &:active,
    &:hover {
      cursor: not-allowed;
      text-decoration: line-through;
      color: black;
    }
  }
}

.Contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  background: #2d2d2d;
  padding-bottom: 10vh;
  .title {
    color: white;
  }
  .desc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 10vh);
    justify-items: center;
    align-items: center;
    span, a {
      font-size: 2em;
      color: white;
      padding-left: 5px;
      padding-right: 5px;
      font-family: 'Noto Sans KR', sans-serif;
    }
    input {
      width: 60px;
      height: 60px;
      &:active {
        cursor: grabbing;
      }
    }
    p {
      font-size: 2em;
      color: white;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: bold;
      margin: 0;
    }
    .clipboard {
      border-radius: 10px;
      background: white url('https://powercode14.github.io/portfolio_react/images/clipboard.png') center no-repeat;
      background-size: contain;
      cursor: grab;
      width: 55px;
    }
    .github {
      border-radius: 50%;
      background: white url('https://powercode14.github.io/portfolio_react/images/icon-git.png') center no-repeat;
      background-size: contain;
      cursor: pointer;
    }
    .blog {
      border-radius: 5px;
      background: white url('https://powercode14.github.io/portfolio_react/images/tistory.png') center no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
  .end p{
    font-size: 6em;
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    font-weight: 900;
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}